$violeta: #650077;
$claro: #f2f2f2;
$verde: lightgreen;
$azul: lightblue;
$negro: black;
$limon: #9AE873;
$morado: #8051AF;
$rosa: #D65173;
$primary-color: black;
$light-background: #f2ece4;
$light-text: #036;
$dark-background: #a7bef7;
$dark-text: #f2f8f7;
