//obj 3
@mixin fuente-titulos {
    @warn "este es un mixin para darle estilos y propiedades personalizadas a los encabezados";
    h1{ 
        font-weight: map-get($peso_letra, h1);
        font-size: map-get($tamano_encabezados, h1);
        font-family: map-get($tipo_letra, h1 );
        color: color_aleatorio(0.6);
    }
    h2{ 
        font-weight: map-get($peso_letra, h2);
        font-size: map-get($tamano_encabezados, h2);
        font-family: map-get($tipo_letra, h2 );
        color: color_aleatorio(0.8);
    }
    h3{ 
        font-weight: map-get($peso_letra, h3);
        font-size: map-get($tamano_encabezados, h3);
        font-family: map-get($tipo_letra, h3 );
        color: color_aleatorio(0.7);
    }
}

//obj 4
@mixin estilos-botones(){
    @for $i from 1 to 5 {
        .boton-#{$i}:hover{
            margin: 0%;
            padding: 0%;
            border: 0%;

            @if $i == 2 or $i == 4{
                background: lighten($color_base_2, 30%);
                //obj 5
                @warn "a  los numeros pares (2 y 4) les doy este estilo.";
            }@else{
                background: darken($color_base_1, 30%);
                //obj 5
                @warn "a  los numeros NO pares les doy este estilo.";
            }
        }
    }
}

@mixin estilos-secciones($color_){
    background: map-get($colors, $color_);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 2.5);
    padding: 10%;
    margin: 20px;
}